
/* 최상단  */
.rank-title {
  width: 50vw;
  height: 15vh;
  margin-top: 2vh;
  margin-bottom: -3vh;
}
.rank-title-word {
  position: relative;
  top:-8.5vh;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Poor Story', cursive;
}
.rank-button-over {
  position: relative;
  width: 8vw;
  height: 6vh;
  top:-10vh;
  right: -40vw;
  background-color: #CD5069;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

/* 하단 메인 컨테이너 */
.rank-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: -5vh;
}
/* 컨테이너 속성 */
.rank-container-background {
  width: 90vw;
  height: 75vh;
  background-color: #192045;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

/* 금,은,동 랭킹 */
.gold-place {
  position: relative;
  top: -6.9vh;
  /* width: 23.4vw; */
  width: 450px;
  height: 109%;
}
.gold-team {
  position: absolute;
  top: 10.5vh;
  left:165px;
  font-size: 70px;
}
.silver-place {
  position: relative;
  margin-left: -50px;
  /* top: -6vh; */
  width: 200px;
  height: 100%;
}
.bronze-place {
  position: relative;
  margin-left: -50px;
  top: -1vh;
  width: 450px;
  height: 101%;
}
/* 금은동 팀명 */
.gold-team {
  position: absolute;
  top: 10.5vh;
  left:180px;
  font-size: 80px;
  font-family: 'Cute Font', cursive;
}
.gold-team-score {
  position: absolute;
  top: 54.5vh;
  left:200px;
  font-size: 60px;
  color: #FFFFFF;
  font-family: 'Cute Font', cursive;
}
.silver-team {
  position: absolute;
  top: 22vh;
  left: 15px;
  font-size: 70px;
  font-family: 'Cute Font', cursive;
}
.silver-team-score {
  position: absolute;
  top: 62.5vh;
  left: 20px;
  font-size: 60px;
  color: #FFFFFF;
  font-family: 'Cute Font', cursive;
}
.bronze-team {
  position: absolute;
  top: 29.4vh;
  left:145px;
  font-size: 70px;
  font-family: 'Cute Font', cursive;
}
.bronze-team-score {
  position: absolute;
  top: 66.5vh;
  left:155px;
  font-size: 60px;
  color: #FFFFFF;
  font-family: 'Cute Font', cursive;
}

/* 우측 나머지 팀 결과 */
/* 컨테이너 */
.rank-list {
  /* background-color: aqua; */
  border: 3px solid white;
  border-radius: 20px;
  width: 15vw;
  height: 101%;
  position: absolute;
  right: 16vh;
  top: 12vh;
  height: 50vh;
  /* right:-100%; */
}
/* 결과 등수 */
.rank-list-item {
  margin-top:20px;
}
.rank-list-item-rank {
  color:rgb(241, 230, 124);
  font-weight: bold;
  font-size: 25px;
  margin-top:20px;
}
/* 결과 팀 */
.rank-list-item-team {
  margin-left:30px;
  color:white;
  font-weight: bold;
  font-size: 25px;
}
.rank-list-item-score {
  margin-left:30px;
  color:rgb(219, 124, 124);
  font-weight: bold;
  font-size: 25px;
}

/* 금은동 싸집이 컨테이너 */
.ssazip-container {
  position:relative
}
.gold-ssazip {
  position: absolute;
  bottom: 21vh;
  left:150px;
  width: 130px;
  filter: drop-shadow(0 0 0.9rem rgb(255, 217, 0));
}
.silver-ssazip {
  position: absolute;
  bottom: 11.5vh;
  left: -30px;
  width: 160px;
  filter: drop-shadow(0 0 0.9rem rgb(202, 200, 190));
}
.bronze-ssazip {
  position: absolute;
  bottom: 8vh;
  right:150px;
  width: 140px;
  filter: drop-shadow(0 0 0.9rem rgb(228, 127, 69));
}
/* .gold-crown {
  position: absolute;
  bottom: 36vh;
  left:176px;

  filter: drop-shadow(0 0 0.9rem rgb(255, 217, 0));
} */