.wr-selectgame-dialog {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
}

.wr-selectgame-content {
  width: 800px;
  height: 650px;
  margin-top: 120px;
  margin-left: 25%;
  padding: 50px 70px 20px 70px;
  border-radius: 40px;
  background-color: #9eacdd;
}

.wr-explain-game-group {
  /* background-color: beige; */
  display: inline-flex;
}

#wr-ssafymind-modal {
  background-color: #f0e9cc;
  width: 200px;
  height: 200px;
  margin-right: 50px;
  border-radius: 20px;
  cursor: pointer;
}
#wr-speakgame-modal {
  background-color: #f0e9cc;
  width: 200px;
  height: 200px;
  margin-right: 50px;
  border-radius: 20px;
  cursor: pointer;
}
#wr-jumpgame-modal {
  background-color: #f0e9cc;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  cursor: pointer;
}

#wr-ssafymind-modal-img {
  width: 70%;
  margin-top: 10%;
}
#wr-speakgame-modal-img {
  width: 200px;
  margin-top: 8%;
  margin-left: -13%;
}
#wr-jumpgame-modal-img {
  width: 80%;
  margin-top: 8%;
}
#wr-ssafymind-modal:hover {
  transform: scale(1.1);
  /* border: 7px solid #cd5069; */
  background-color: #ffa500;
}
#wr-speakgame-modal:hover {
  transform: scale(1.1);
  /* border: 7px solid #cd5069; */
  background-color: #ffa500;
}
#wr-jumpgame-modal:hover {
  transform: scale(1.1);
  /* border: 7px solid #cd5069; */
  background-color: #ffa500;
}
.wr-select-game-ok {
  background-color: #ffa500;
  width: 180px;
  height: 6vh;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 1.7rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  right: 31%;
  bottom: 19%;
  padding-bottom: 4px;
}
.wr-explainbox {
  border: 5px solid #f0e9cc;
  border-radius: 20px;
  margin-top: 6%;
  height: 38vh;
}
.wr-explain-ssafymind-title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 3%;
}
.wr-explain-ssafymind-content {
  color: #442323;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 40px;
}
.wr-explain-speakgame-title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 3%;
}
.wr-explain-speakgame-content {
  color: #442323;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 40px;
}
.wr-explain-speakgame-num {
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  float: left;
  margin-top: 4%;
  margin-left: 5%;
}
.wr-explain-jumpgame-title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 3%;
}
.wr-explain-jumpgame-content {
  color: #442323;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 40px;
}
