.game-screen {
  width: 100%;
  display: flex;
  justify-content: center;
}

.game-screen > .game-board {
  background: #F0E9CC;
  border-radius: 15px;
  margin: -15px 1% 0 8px;
  width: 58%;
  height: 90vh;
  padding: 0 10%;
  position: relative;
}

.game-screen > .game-board > .sentence {
  font-size: 30px;
  font-weight: 600;
  margin: 3% auto 2% auto;
}

.game-screen > .game-board > .sentence-board {
}

.game-screen > .game-board > .sentence-board > .member-left, .game-screen > .game-board > .sentence-board > .member-right {
  display: flex;
  height: 10vh;
}

.game-screen > .game-board > .sentence-board > .member-left {
  float: left;
  width: 100%;
}

.game-screen > .game-board > .sentence-board > .member-right {
  float: right;
}

.game-screen > .game-board > .sentence-board .member-name {
  display: inline-block;
  background: #ffffff80;
  border: 3px solid #9EACDD;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.game-screen > .game-board > .sentence-board .member-name > span {
  font-size: 20px;
  font-weight: 600;
  height: 40%;
}

.game-screen > .game-board > .sentence-board .member-name > img {
  width: 70%;
  height: 70%;
  margin: auto;
}

.game-screen > .game-board > .sentence-board .member-sentence {
  position: relative;
  background: white;
  border: none;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
}

/* 100px짜리 margin은 반응형으로 할 때는 따로 고려해줄 것 */
.game-screen > .game-board > .sentence-board .member-sentence-left {
  margin: auto 100px auto 20px;
}

.game-screen > .game-board > .sentence-board .member-sentence-right {
  margin: auto 20px auto 100px;
}

.game-screen > .game-board > .sentence-board .member-sentence > span {
  font-size: 26px;
  position: relative;
  padding: 15px 20px;
}

.game-screen > .game-board > .sentence-board .member-sentence::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-width: 10px;
  border-style: solid;
}

.game-screen > .game-board > .sentence-board .member-sentence:nth-child(1)::after {
  left: 100%;
  border-color: transparent transparent transparent white;
}

.game-screen > .game-board > .sentence-board .member-sentence:nth-child(2)::after {
  right: 100%;
  border-color: transparent white transparent transparent;
}

.game-board > .game-mic-default {
  width: 10%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.game-board > .game-mic {
  box-shadow: 1px 1px 1px black, 1px 1px 1px white inset;
}

.game-board > .game-mic:active {
  box-shadow: 1px 1px 1px black inset, 1px 1px 1px white;
}