.ssafymind {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ssafymind .canvas {
  width: 1100px;
  height: 760px;
  /* width: 100%;
  height: 82vh; */
  background-color: white;
  border-radius: 20px;
  margin-top: -15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.controls-stop {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(134, 131, 131);
  padding: 8px;
  border-radius: 25px;
  position: absolute;
  width: 56.6%;
  height: 5.9vh;
  margin-left: 5px;
  opacity: 0.6;
}
.controls {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0e9cc;
  padding: 8px;
  border-radius: 25px;
  width: 97.5%;
  margin-left: 6px;
}
.controls .controls_colors {
  display: flex;
  margin-left: 2.1%;
  margin-top: 2px;
}
.controls_colors .controls_color {
  width: 50px;
  height: 50px;
  margin-right: 7px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.controls .controls_range {
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 20px;
}
.ssafymind-center {
  width: 58%;
  float: left;
}
.ssafymind-img {
  width: 5%;
  cursor: pointer;
  margin-right: 10px;
  -webkit-user-drag: none;
}
.ssafymind-img:active {
  transform: scale(0.9);
}
.turn-notice {
  position: absolute;
  color: #cd5069;
  font-weight: 550;
  font-size: 1.3rem;
  margin-top: 3.5%;
  margin-left: 1.4%;
  -webkit-user-drag: none;
  /* animation: blink-effect 0.5s step-end infinite; */
}
.question-word {
  position: absolute;
  font-weight: 1000;
  font-size: 1.6rem;
  margin-left: 1.3%;
  -webkit-user-drag: none;
  background-color: #d3cdcb;
  border: 3px solid #92817c;
  border-radius: 10px;
  padding: 9px;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
.paintbucket {
  cursor: url("../assets/paint.png"), auto;
}
.paintbrush {
  cursor: url("../assets/paint-brush.png") 0 32, auto;
}
.painteraser {
  cursor: url("../assets/eraser-tool.png") 0 32, auto;
}
