.ssazip-game-outer-container{
  /* position: absolute; */
  /* top: 110px;
  left: 30px; */
  width:1350px;
  height: 800px;
  display: inline-block;
  /* justify-content: center; */
}
.ssazip-round-outer-container{
  /* position: absolute; */
  /* top: 110px; */
  /* right: 30px; */
  /* width:1350px; */
  height: 800px;
  display: inline-block;
  /* justify-content: center; */
}

/* 좌측 게임컨테이너 */
.ssazip-game-container {
  /* position: absolute; */
  /* top: 110px; */
  width:1300px;
  height:780px;
  /* left: 30px; */
  background-color: #F0E9CC ;
  border-radius: 15px;
  /* display: flex; */
  text-align: center;
}

/* .t{

} */
.t{
  position: absolute;
}
.ssazip-game-background{
  /* position: relative;
  top:2vh; */
  /* left:2.6vh; */
  background: url('../assets/ssazipjump-game-bg2.png') 0 center / 1200px repeat-x;
  animation: movebg 5.9s linear infinite;
  animation-play-state: paused;
  background-size: 1200px 350px;
  width: 1200px;
  height: 350px;
  margin-top: 30px;
  display: inline-block;

}
@keyframes movebg {
  0% {background-position: 0 center;}
  100% {background-position:-1200px center;}
}

.ssazip-game-background2{
  /* position: relative;
  bottom:2vh;
  left:2.6vh; */
  background: url('../assets/ssazipjump-game-bg2.png') 0 center / 1200px repeat-x;
  animation: movebg 5.9s linear infinite;
  animation-play-state: paused;
  background-size: 1200px 350px;
  width: 1200px;
  height: 350px;
  margin-top: 10px;
  display: inline-block;


}
@keyframes movebg2 {
  0% {background-position: 0 center;}
  100% {background-position:-1200px center;}
}

/* 게임결과표시 */
.lose1{
  position: absolute;
  top: 100px;
  left: 350px;
  font-size: 280px;
  color: red;
  font-weight: bold;
}
.win1{
  position: absolute;
  top: 100px;
  left: 450px;
  font-size: 280px;
  color: rgb(38, 0, 255);
  font-weight: bold;
}
.lose2{
  position: absolute;
  top: 470px;
  left: 350px;
  font-size: 280px;
  color: red;
  font-weight: bold;
}
.win2{
  position: absolute;
  top: 470px;
  left: 450px;
  font-size: 280px;
  color: rgb(38, 0, 255);
  font-weight: bold;
}

.loser1 {
  position: absolute;
  top: 400px;
  left: 130px;
  width: 1200px;
  font-size: 40px;
  color: #FFFFFF;
  font-weight: bold;
}
.loser2 {
  position: absolute;
  top: 775px;
  left: 130px;
  width: 1200px;
  font-size: 40px;
  color: #FFFFFF;
  font-weight: bold;
}

.wrap {text-align: center; margin-top: 20px;}
.chatbox {animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;}
        
@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 10px;}
}

/* Round 표시 */
.round1{
  position: absolute;
  top: 160px;
  left: 130px;
  width:1200px;
  font-size: 200px;
  color: red;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.round2{
  position: absolute;
  top: 530px;
  left: 130px;
  width:1200px;
  font-size: 200px;
  color: red;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}



/* 우측 라운드표시 컨테이너 */
.ssazip-round-container {
  /* position: absolute; */
  /* top: 110px; */
  width:21vw;
  height:780px;
  margin-left: 10px;
  /* right: 1.5vw; */
  background-color: #F0E9CC ;
  border-radius: 15px;
  display: inline-block;
}
/* 우측 라운드표시의 이너 컨테이너(간격) */
.ssazip-round-inner-container {
  width:19vw; 
  height: 82vh;  
  display:inline-block; 
  margin-top:20px;

}
/* 개별 라운드표지판 */
.ssazip-round-item {
  width:18vw; 
  height: 220px;    
  display:inline-block; 
  border-radius:10px;
}
/* 개별 라운드표지판 이너 테두리 */
.ssazip-round-item-inner{
  width:16vw; 
  height:180px; 
  border: 2px solid #FFFFFF; 
  display:inline-block; 
  margin-top:1.8vh; 
  border-radius:10px;
}
.ssazip-round-item-title{
  color:#FFFFFF;
  margin-top: 1vh;
  font-size: 24px;
  font-weight: bold;
}
.ssazip-round-item-title{
  color:#FFFFFF;
  margin-top: 1vh;
  font-size: 24px;
  font-weight: bold;
}
.ssazip-rounds-container{
  margin-top: 20px;
}
.current-round-team-individual{
  width: 65px;
}
.ssazip-vs{
  position: relative;
  top: -20px; 
  right: 0px;
  font-size: 50px;
  display: inline;
  font-weight: bold;
  color:white;
}
.ssazip-league{
  position: relative;
  top: -10px; 
  right: 0px;
  font-size: 30px;
  /* display: inline-block; */
  font-weight: bold;
  color:#92817C;
}

/* 최하단 라운드별 점수 */
.ssazip-score-container{
  margin-top: 10px;
}
.team-round-score{
  font-size: 70px;
  font-weight: bold;
  color: #CD5069;
}
.team-round-team{
  font-size: 40px;
}
.ssazip-round-score-teams{
  position: relative;
  top: 0px; 
  right: 0px;
  font-size: 20px;
  font-weight: bold;
  color:#FFFFFF;
}


.temp {
  background-color: #fcc861;
  height: 6vh;
  margin-bottom: 1.5%;
  padding-top: 8px;
}

.swal-modal {
  /* position: relative; */
  background-color: #99B7FF;
  border-radius: 1.5rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  height:260px;
  width: 500px;
}

.swal-icon {
  width: 60px;
  position: relative;
  top:-30px;
  display:inline-block;
  -moz-animation:vertical 1.5s 9999 ease 2s;
  -webkit-animation:vertical 1.5s 9999 ease 2s;
  -o-animation:vertical 1.5s 9999 ease 2s;
  -ms-animation:vertical 1.5s 9999 ease 2s;
  animation:vertical 1.5s 9999 ease 2s}
  @-moz-keyframes vertical{
    0%{-moz-transform:translate(0,-5px)}
    4%{-moz-transform:translate(0,5px)}
    8%{-moz-transform:translate(0,-5px)}
    12%{-moz-transform:translate(0,3px)}
    16%{-moz-transform:translate(0,-5px)}
    20%{-moz-transform:translate(0,5px)}
    22%{-moz-transform:translate(0,0)}}
  @-webkit-keyframes vertical{
    0%{-webkit-transform:translate(0,-5px)}
    4%{-webkit-transform:translate(0,3px)}
    8%{-webkit-transform:translate(0,-5px)}
    12%{-webkit-transform:translate(0,5px)}
    16%{-webkit-transform:translate(0,-5px)}
    20%{-webkit-transform:translate(0,3px)}
    22%{-webkit-transform:translate(0,0)}}
  @-ms-keyframes vertical{
    0%{-ms-transform:translate(0,-5px)}
    4%{-ms-transform:translate(0,5px)}
    8%{-ms-transform:translate(0,-5px)}
    12%{-ms-transform:translate(0,5px)}
    16%{-ms-transform:translate(0,-5px)}
    20%{-ms-transform:translate(0,5px)}
    22%{-ms-transform:translate(0,0)}}
  @keyframes vertical{
    0%{transform:translate(0,-5px)}
    4%{transform:translate(0,5px)}
    8%{transform:translate(0,-5px)}
    12%{transform:translate(0,5px)}
    16%{transform:translate(0,-5px)}
    20%{transform:translate(0,5px)}
    22%{transform:translate(0,0)}

}

.swal-title {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 25px;
  color: black;
  margin-top: -45px;
}

.swal-text {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.swal-content__input {
  font-family: "Noto Sans KR", sans-serif;
}

.swal-button {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  background-color: #1C84C4;
}

.swal-button--cancel {
    color: white;
    background-color: #CD5069;
}


.swal-footer {
  margin-top: 0px;
}

.swal-button:active {
  background-color: #1C84C4;
}

.swal-button--cancel:active {
  background-color: #F53535;
}

.swal-button:focus {
  outline: none;
  box-shadow: none;
}

.swal-button:not([disabled]):hover {
  background-color: #1C84C4;
}

.swal-button--cancel:not([disabled]):hover {
  background-color: #F53535;
}
