.game-explain-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
}
.game-explain-modal .game-explain-content {
  /* width: 700px;
  height: 340px; */
  /* margin-top: 24px; */
  margin-left: 18%;
  padding: 50px 70px 20px 70px;
  border-radius: 40px;
  position: absolute;
}

.game-explain-modal .game-explain-explainbox {
  margin-top: -6%;
  margin-left: -5%;
}

#ssafymind-explain-img {
  width: 84%;
  margin-top: 6%;
  margin-left: -0.5%;
}

.game-explain-modal .understand-btn {
  background-color: #cd5069;
  position: absolute;
  width: 180px;
  height: 6vh;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 1.7rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  right: 45%;
  bottom: 21%;
  padding-bottom: 4px;
}
