.game-order-modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
}

.game-order-modal .show-team-content {
  width: 700px;
  height: 340px;
  margin-top: 240px;
  margin-left: 28%;
  padding: 50px 70px 20px 70px;
  border-radius: 40px;
  background-color: #9eacdd;
  position: absolute;
}

.game-order-modal .show-team-explainbox {
  background-color: #f3dba3;
  border-radius: 20px;
  width: 110%;
  height: 37vh;
  margin-top: -6%;
  margin-left: -5%;
}

.show-team-order-group {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3%;
  padding-top: 6%;
}
.start-game-btn {
  background-color: #cd5069;
  position: absolute;
  width: 180px;
  height: 6vh;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 1.7rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  right: 38%;
  bottom: 14%;
  padding-bottom: 4px;
}
.show-team-order-img {
  margin-top: 7%;
}
#team-num-img {
  margin-right: 14px;
}
