.background-img {
  position: absolute;
  left: 0;
  height: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.login {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.login > div {
  margin-top: 50px;
}

.login > div > .ssazip-login-img {
  margin: auto;
  width: 21%;
}

.login > div > input, img {
  display: block;
}

.login > div > input {
  border: none;
  margin: 20px auto;
  padding: 0 20px;
  height: 50px;
  width: 20%;
  background: #F0E9CC;
  border-radius: 20px;
  font-size: 25px;
  color: black;
}

.login > div > input:focus {
  outline: none;
}

.login > div > input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #F0E9CC inset;
}

.login .button-login, .button-cancel, .button-signup {
  border: none;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 600;
  height: 50px;
  cursor: pointer;
}

.login > div > div {
  width: calc(20% + 40px);
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.login > div > div > .button-login, .button-cancel {
  width: 45%;
  border-radius: 20px;
}

.login > div > a > .button-signup {
  width: calc(20% + 40px);
}

.login > div > div > .button-login {
  background: #EAC16F;
}

.login > div > div > .button-cancel {
  background: #CD5069;
  color: white;
}

.login > div > a > .button-signup {
  background: #9EACDD;
}