.background-img {
  position: absolute;
  left: 0;
  height: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.signup {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.signup > div {
  width: 22%;
  margin: 50px auto 0 auto;
}

.signup > div > .ssazip-signup-img {
  margin: 20px auto 0 auto;
  width: 90%;
}

.signup > div > .signup-inputs input {
  display: block;
  border: none;
  margin: 20px 0;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  background: #F0E9CC;
  border-radius: 20px;
  font-size: 25px;
  color: black;
}

.signup > div > .signup-inputs input:focus {
  outline: none;
}

.signup > div > .signup-inputs input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #F0E9CC inset;
}

.signup > div > .signup-inputs > .signupId {
  background: #F0E9CC;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  width: calc(100% + 40px);
  display: flex;
  justify-content: space-between;
}

.signup > div > .signup-inputs > .signupId > input {
  margin: 0;
  background: none;
  width: 70%;
}

.signup > div > .signup-inputs > .signupId > button {
  background: #EAC16F;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 30%;
  margin: 10px;
  font-size: 25px;
  font-weight: 600;
}

.signup .signup-buttons {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 40px);
  margin: 20px 0;
}

.signup .signup-buttons > button {
  background: #EAC16F;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  width: 45%;
  height: 65px;
}

.signup .signup-buttons > a {
  width: 45%;
}

.signup .signup-buttons > a > button {
  background: #CD5069;
  border-radius: 20px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  height: 60px;
  width: 100%;
}